<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="E2E Tests" verbose="1" parallel="methods" thread-count="4">
    <listeners>
        <listener class-name="testingninja.framework.listeners.TestListener"/>
        <listener class-name="testingninja.framework.listeners.InvocationListener"/>
    </listeners>
    <test name="Contact Finder">
        <packages>
            <package name="testingninja.contactfinder.tests" />
        </packages>
    </test>
</suite>
